<div class="tasks-column">
  <input
    *ngIf="hasTasks"
    type="checkbox"
    class="tasks-column__toggle-all"
    (change)="toggleAllTasks()"
    [(ngModel)]="toggledAllTasks"
  />
  
  <div>
    <app-task
      *ngFor="let task of filteredTasks$ | async"
      [task]="task"
      (changeStatus)="changeTaskStatus($event)"
      (delete)="removeTask($event)"
      (taskUpdated)="updateTaskText($event)"
    />
  </div>

  <div>
    <ng-content select=".tasks-count" />
    <ng-content select="nav" />
    <ng-content select=".clear-completed" />
  </div>
</div>
