<div class="tasks-column">
  <input
    *ngIf="hasTasks$ | async"
    type="checkbox"
    class="tasks-column__toggle-all"
    (change)="toggleAllTasks()"
    [checked]="toggledAllTasks"
  />

  <div>
    <app-task
      *ngFor="let task of filteredTasks$ | async"
      [task]="task"
      (changeStatus)="changeTaskStatus($event)"
      (delete)="removeTask($event)"
      (taskUpdated)="updateTaskText($event)"
    />
  </div>

  <div>
    <p class="tasks-count">
      {{ incompletedTasksCount }}
      {{ incompletedTasksCount === 1 ? "item" : "items" }} left
    </p>
    <ng-content select="nav" />
    <button
      *ngIf="tasksCount !== incompletedTasksCount"
      class="clear-completed"
      (click)="removeCompletedTasks()"
    >
      Clear completed
    </button>
  </div>
</div>
